{% extends 'shop/basic.html' %}

{% block title %} ECOMM_LOGIN{% endblock %}

{% block body %}
<h3 class="my-4 mx-4 border-bottom pb-1"><center>Ecomm SignUp</center></h3>
<div class="row">
    <center>
    <table class="table table-bordered">
       <form method="POST">
            {% csrf_token %}
            {{form.as_table}}
            <tr>
                <td colspan="2">
                   <center><input type="submit" value="Signup" class="btn btn-primary" /></center>
                </td>
            </tr>
        </form>
    </table>
        </center>
</div>

{% endblock %}
